.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

select {
    padding: 12px;
    border-radius: 5px;
    border: 1px sólido #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
    width: 100%;
}

select:focus {
    border-color: #6b73ff;
    outline: none;
}

select option {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6b73ff, #000dff);
    color: #333;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.balance {
    font-size: 30px;
    color: #4CAF50;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px sólido #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="number"]:focus, input[type="text"]:focus {
    border-color: #6b73ff;
    outline: none;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: blanco;
    cursor: pointer;
    transition:transformación 0.3s;
}

button:hover {
    background:#45a049;
}

.history {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

.history li {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    text-align: izquierda;
    transition: transformación 0.3s;
    position: relative; /* Para el botón de borrado */
}

.history li:hover {
    transform: translateY(-5px);
}

.history li .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FF6F61; /* Cambiar color para mayor visibilidad */
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

.history li .delete:hover {
    color: red;
}

.history .income {
    color: #4CAF50;
}

.history .expense {
    color: #FF6F61;
}

/* Estilo para el modal de alerta */
.modal {
    display: none; /* Solo se muestra cuando es necesario */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo translúcido */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.modal h3 {
    color: #333;
}

.modal p {
    color: #666;
}

.modal button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: blanco;
    cursor: pointer;
    transition: 0.3s;
}

.modal button:hover {
    background:#45a049;
}